{% extends 'home.html' %} {% block contenidoQueCambia %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Listado de Presupuestos</title>
  </head>
  <body>
    <h1>Listado de Presupuestos</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Buscar</button>
    </form>
    <table>
      <thead>
        <tr>
          <th>Servicio</th>
          <th>Fecha de Entrega</th>
          <th>Entregado</th>
          <th>Cantidad</th>
          <th>Cliente</th>
        </tr>
      </thead>
      <tbody>
        {% for presupuesto in presupuestos %}
        <tr>
          <td>{{ presupuesto.servicio }}</td>
          <td>{{ presupuesto.fechaDeEntrega }}</td>
          <td>{{ presupuesto.entregado }}</td>
          <td>{{ presupuesto.cantidad }}</td>
          <td>{{ presupuesto.cliente }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'PresupuestoFormulario' %}">Crear un nuevo presupuesto</a>
  </body>
</html>
{% endblock contenidoQueCambia %}
