{% extends 'home.html' %} {% block contenidoQueCambia %}
<section class="py-5" style="background-color: #ffffff; color: #000000">
  <div class="container">
    <h2
      class="text-center mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      Inicia sesión con tu cuenta
    </h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card" style="background-color: #6f95c5">
          <div class="card-body">
            <h5
              class="card-title text-center"
              style="
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                color: white;
              "
            >
              Inicia sesión
            </h5>
            <form
              action="{% url 'Login' %}"
              method="post"
              style="display: flex; flex-direction: column; align-items: center"
            >
              {% csrf_token %}
              <div class="mb-3" style="width: 100%">
                <label
                  for="{{ miFormulario.username.id_for_label }}"
                  style="color: white"
                  >Username:</label
                >
                <div style="width: 100%">{{ miFormulario.username }}</div>
              </div>
              <div class="mb-3" style="width: 100%">
                <label
                  for="{{ miFormulario.password.id_for_label }}"
                  style="color: white"
                  >Password:</label
                >
                <div style="width: 100%">{{ miFormulario.password }}</div>
              </div>
              <button
                class="btn btn-light mt-2"
                type="submit"
                style="
                  background-color: white !important;
                  color: #6f95c5;
                  font-weight: bold;
                  width: 100%;
                "
              >
                Iniciar Sesión
              </button>
            </form>
            <a class="register" href="{% url 'Registrar' %}"
              >No tienes cuenta todavía? Regístrate ahora.</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock contenidoQueCambia %}
