<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top p-6">
  <div class="container">
    <a class="navbar-brand" href="{% url 'Home' %}">Home</a>

    {% if user.is_authenticated %}
    <div class="dropdown">
      <a
        style="background-color: white; color: black; border: none"
        class="navbar-brand btn btn-secondary dropdown-toggle"
        href="#"
        role="button"
        id="presupuestoDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Presupuestos
      </a>
      <ul class="dropdown-menu" aria-labelledby="presupuestoDropdown">
        <li>
          <a class="dropdown-item" href="{% url 'PresupuestoFormulario' %}"
            >Agregar Presupuesto</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'ListarPresupuestos' %}"
            >Lista de Presupuestos</a
          >
        </li>
      </ul>
    </div>

    <div class="dropdown">
      <a
        style="background-color: white; color: black; border: none"
        class="navbar-brand btn btn-secondary dropdown-toggle"
        href="#"
        role="button"
        id="colaboradoresDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Colaboradores
      </a>
      <ul class="dropdown-menu" aria-labelledby="colaboradoresDropdown">
        <li>
          <a class="dropdown-item" href="{% url 'AgregarColaborador' %}"
            >Agregar Colaborador</a
          >
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'ListarColaboradores' %}"
            >Lista de Colaboradores</a
          >
        </li>
      </ul>
    </div>

    <a class="navbar-brand" href="{% url 'proyectos_asignados' %}"
      >Presupuestos Asignados</a
    >
    <a class="navbar-brand" href="{% url 'EditarPerfil' %}"
      >Bienvenido {{user.username}}</a
    >

    {% if url_avatar %}
    <a href="{% url 'AgregarAvatar' %}">
      <img src="{{ url_avatar }}" alt="avatar" />
    </a>
    {% endif %}

    <a
      class="btn btn-primary btn-lg"
      style="
        background-color: #6f95c5;
        color: white;
        font-weight: semibold;
        border: none;
      "
      href="{% url 'Logout' %}"
      >Logout</a
    >
    {% else %}
    <a class="navbar-brand" href="{% url 'PresupuestoFormulario' %}"
      >Presupuesto</a
    >
    <a class="navbar-brand" href="{% url 'AgregarCliente' %}"
      >Quiero ser Cliente</a
    >
    <a
      class="btn btn-primary btn-lg"
      style="background-color: white; color: #6f95c5; font-weight: semibold"
      href="{% url 'Registrar' %}"
      >Regístrate</a
    >
    <a
      class="btn btn-primary btn-lg"
      style="
        background-color: #6f95c5;
        color: white;
        font-weight: semibold;
        border: none;
      "
      href="{% url 'Login' %}"
      >Login</a
    >
    {% endif %}
    <a class="navbar-brand" href="{% url 'Aboutus' %}">Acerca de mi</a>
  </div>
</nav>

<!-- Banner principal -->
<header class="masthead">
  <div class="container position-relative bannerPrincipal">
    <div class="row justify-content-center">
      <div class="col-xl-6"></div>
    </div>
  </div>
</header>
