<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'Home' %}">Home</a>
    <a class="navbar-brand" href="{% url 'PresupuestoFormulario' %}"
      >Presupuesto</a
    >
    <a class="navbar-brand" href="{% url 'ListarPresupuestos' %}"
      >Lista de Presupuestos</a
    >
    <a class="navbar-brand" href="{% url 'AgregarColaborador' %}"
      >Agregar Colaboradores</a
    >
    <a class="navbar-brand" href="{% url 'AgregarCliente' %}"
      >Agregar Clientes</a
    >
    <a class="navbar-brand" href="{% url 'ListarColaboradores' %}"
      >Lista de Colaboradores</a
    >
    <a class="navbar-brand" href="{% url 'proyectos_asignados' %}"
      >Proyectos Asignados</a
    >

    <a class="btn btn-primary" href="{% url 'Login' %}">Login</a>
  </div>
</nav>
