{% extends 'home.html' %} {% block contenidoQueCambia %}
<section class="py-5" style="background-color: #ffffff; color: #000000">
  <div class="container">
    <h2
      class="text-center mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
    >
      Proyectos Asignados
    </h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card" style="background-color: #6f95c5">
          <div class="card-body">
            <h5
              class="card-title text-center"
              style="
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                color: white;
              "
            >
              Filtrar proyectos asignados
            </h5>
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="colaborador" class="form-label" style="color: white"
                  >Selecciona un colaborador:</label
                >
                <select
                  name="colaborador"
                  id="colaborador"
                  class="form-control"
                >
                  <option value="">Selecciona un colaborador</option>
                  {% for colaborador in colaboradores %}
                  <option value="{{ colaborador.id }}">
                    {{ colaborador.nombre }} {{ colaborador.apellido }}
                  </option>
                  {% endfor %}
                </select>
              </div>
              <button
                class="btn btn-light mt-2"
                type="submit"
                style="
                  background-color: white !important;
                  color: #6f95c5;
                  font-weight: bold;
                  width: 100%;
                "
              >
                Mostrar Proyectos Asignados
              </button>
            </form>
            {% if proyectos_asignados %}
            <h2 class="text-lg font-bold mt-4" style="color: white">
              Proyectos Asignados:
            </h2>
            <table class="table mt-2">
              <thead>
                <tr>
                  <th style="color: white">Servicio</th>
                  <th style="color: white">Fecha de Entrega</th>
                  <th style="color: white">Cantidad</th>
                  <th style="color: white">Cliente</th>
                  <th style="color: white">Entregado?</th>
                </tr>
              </thead>
              <tbody>
                {% for asignacion in proyectos_asignados %}
                <tr>
                  <td style="color: white">
                    {{ asignacion.presupuesto.servicio }}
                  </td>
                  <td style="color: white">
                    {{ asignacion.presupuesto.fechaDeEntrega }}
                  </td>
                  <td style="color: white">
                    {{ asignacion.presupuesto.cantidad }}
                  </td>
                  <td style="color: white">
                    {{ asignacion.presupuesto.cliente }}
                  </td>
                  <td style="color: white">
                    {{ asignacion.presupuesto.entregado }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock contenidoQueCambia %}
